.header {
    background-color: #1f2937;
    color: #f9faf8;
    height: 350px;
    padding-left: 5%;
    padding-right: 5%;

}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7% 0 7%; 
}

p {
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 10px;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.head {
    display: flex;
    justify-content: center;
    gap: 10%;    
}

.header2 {
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
}

.text {
    font-size: 18px; 
    font-weight: 300;
}

.card {
    border: 1px;
    background-color: #6e726e;
    text-align: center;
    width: 350px;
    height: 30px;
    align-self: center;
    padding: 7%;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    padding: 8px 30px 8px 30px;
    border-radius: 10px;
    border: 1px #3882F6;
    margin-bottom: 20px;
}

.lower {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    height: 330px;
    padding: 15px;
    
}

.container { 
    display: flex;
    justify-content: center;
    gap: 5%; 
    width: auto;
    padding-top: 20px;
    
}

.info {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px; 
    
}

.bom {
   display: flex;
   text-align: center;
   font-size: 18px; 
   font-weight: 300;
   margin-top: 8px;
   
}

.section {
    display: flex;
    height: auto;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 5% 21% 0 21%;
    margin: 0;
}

.call {
    font-size: 16px;
    color: #1f2937;
    display: flex;
    font-weight: bolder;
    padding: 0 23% 5% 23%;
    align-self: flex-end;
}