.header {
    background-color: #1f2937;
    color: #f9faf8;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 10px;
    margin-right: 10px;
    
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header2 {
    display: flex;
    flex-direction: column;
}